.headerOption {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 7px;
}

.headerOption:hover {
  transition: all 0.3s ease-in-out;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.fixedHeader {
  /* border: 1px solid black; */
  position: fixed;
  top: -4.1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
