.mainDocParent {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.mainNodeWithDrawer {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: 100%;
}

.backToPortalButton {
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
}

.backToPortalButton:hover {
  border-color: #d0d5e9;
}
